<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Task</title>
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
    <main class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <h1 class="text-center display-3 py-5">Create Task</h1>
                <form action="/tasks/create_task/" method="POST" class="card card-body mt-2">
                    {{error}}
                    {{success}}
                    {% csrf_token %}
                    {{form}}
                    <button class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>
    </main>
    {% endblock %}
</body>
</html>